version: 2.1

orbs:
  cloudesire: cloudesire/common@2

defaults: &defaults
  executor:
    name: cloudesire/docker_java
    java_version: "25.0"

jobs:
  test:
    <<: *defaults
    circleci_ip_ranges: true

    steps:
      - checkout

      - cloudesire/maven_with_cache:
          mvn_path: ./mvnw
          steps:
            - run:
                name: Test
                command: ./mvnw -B test

      - cloudesire/maven_aggregate_tests_results

      - persist_to_workspace:
          root: /home/circleci
          paths:
            - .

  build:
    <<: *defaults

    steps:
      - attach_workspace:
          at: /home/circleci

      - setup_remote_docker

      - cloudesire/maven_with_cache:
          mvn_path: ./mvnw
          steps:
            - run:
                name: Package
                command: ./mvnw -B package -DskipTests

      - run:
          name: Prepare for docker_run_and_test
          command: |
            echo "SERVER_PORT=8080" >> docker_env_file.list

      - cloudesire/docker_run_and_test:
          container_name: syndication-api
          image_name: cloudesire/syndication-api
          image_version: 1.0.0-SNAPSHOT
          container_port_range: "8080:8080"

workflows:
  build-and-deploy:
    jobs:
      - test
      - build:
          requires:
            - test

  weekly:
    jobs:
      - test
      - build:
          requires:
            - test
    triggers:
      - schedule:
          cron: "0 11 * * 2"
          filters:
            branches:
              only: master
